@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración base para Lelune */
body {
  background-color: #f8f7ff;
  font-family: 'Nunito', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

/* Scrollbar Premium Estilo Lelune */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e9d5ff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d8b4fe;
}

/* Animaciones de transición de pasos */
.animate-in {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
